<div>
    <div class="jumbotron">
        <div class="container">
            <h1>ALL TIN NA FOR BATO!<small>Just For You...</small></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mainsection">
                <h2>WELCOME TO BATO</h2>
                <p>
                    Ever needed quality gadgets on the fly, at affordable prices and on time?
                    Want to sell that phone or electronic appliance so you can upgrade?
                    <br />
                    Then put am for Bato!!
                </p>
                <button type="button" class="btn btn-primary btn-lg  but"> LEARN MORE </button>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default pane1">
                    <div class="panel-body">
                        <p>Have you already made your place on this Bato??</p>
                        <br />
                        <a href="#" role="button" type="button" class="btn btn-primary btn-sm active pull-right but2"> SIGN IN </a>
                    </div>
                </div>
                <br />
                <div class="panel panel-info pane2">
                    <div class="panel-body">
                        <p> Not yet dans notre Bato??? What you waiting for??! Come on board!!!  Its the biggest ship online!!</p>
                        <a href="#" role="button" type="button" class="btn btn-primary btn-sm active pull-right but3">  SIGN UP   </a>
                        <br />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
